{"http_interactions":[{"request":{"method":"delete","uri":"https://api-dev.bitso.com/v3/orders/jfeZlSFf2heNnRqg/","body":{"encoding":"UTF-8","base64_string":""},"headers":{"Authorization":["Bitso YwAADwDgHy:1512425442929:e9b049d642ba4b3df4b0cb9e9e72690739ea5257122a7ce508525c8b31d3371d"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJwYXlsb2FkIjpbXX0=\n"},"http_version":null},"recorded_at":"Mon, 04 Dec 2017 22:10:43 GMT"}],"recorded_with":"VCR 3.0.3"}