{"http_interactions":[{"request":{"method":"get","uri":"https://api-dev.bitso.com/v3/ledger/withdrawals/?limit=25&sort=desc","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Bitso YwAADwDgHy:1512487860810:487f71206bce88340e6cde6406ec67d3e83e51a758f59b5760dc45ba926ab948"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJwYXlsb2FkIjpbXX0=\n"},"http_version":null},"recorded_at":"Tue, 05 Dec 2017 15:31:00 GMT"}],"recorded_with":"VCR 3.0.3"}